*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Menlo', Helvetica, SansSerif ;
}
.main-section{
    position:relative;
    color:#fff;
    height:100vh;
    width:100%;
    background: #003bff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #b36868, #6d26a6, #003bff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #b36868, #6d26a6, #003bff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.section{
    display:block;
}
.bg-white{
    background-color:#fff;
}
.bg-blue{
    background-color:#2d3bc8;
    background: -webkit-linear-gradient(to bottom, rgb(34, 125, 170), rgb(81, 172, 205));
    background: linear-gradient(to bottom, rgb(34, 125, 170), rgb(81, 172, 205));
}
.bottom-right{
    position:absolute;
    right:16px;
    bottom:8px;
}
.top-left{
    position:absolute;
    left: 16px;
    top: 8px;
    font-size:36px;
    font-weight: bold;
    font-style: italic;
}

.bottom-right h2{
    font-size:26px;
}
.bottom-right h2::after{
    content: ' ';
    display:block;
    width:50px;
    margin:10px auto -10px 0;
    border:2px solid #fff;
}
.bottom-right p{
    letter-spacing: 1px;
    font-size: 24px;
    margin-top:10px;
    font-style: italic;
    color:#ccc;
}
.section-content{
    display: block;
    padding: 100px 100px;
    color:rgb(57, 149, 189);
    overflow: auto;
}
.title, .content{
    float:left;
}
.title{
    width:20%;
    display: block;
    margin:0 auto;

}

.bg-white .section-content .title h3::after{
    content: ' ';
    display:block;
    width:50px;
    margin:5px auto -10px 0;
    border:2px solid rgb(57,149,189);
}
.bg-white .section-content .content h3{
    font-style: italic;
    font-weight: bolder;
    color:rgb(45, 127, 171);
    text-transform: uppercase;
}
.bg-white .section-content .content p{
    font-style: italic;
    color:rgb(89,121, 139);
}

.bg-blue .section-content .title h3::after{
   content: ' ';
    display: block;
    width:50px;
    margin:5px auto -10px 0;
    border: 2px solid rgb(255, 255, 255);
}
.bg-blue .section-content{
    color:rgb(255, 255, 255);
}
.content{
    width:80%;
}
.date{

    font-weight: bold;
    font-style: italic;
}
.location{
    font-weight: bold;
    font-style: italic;
}
.box{
    margin-bottom:10px;
    padding: 15px;
    border:1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.panel{
    background-color: #fff;
}
.clearfix::after{
    content: " ";
    display: table;
    clear:both;
}
.img-box{
    box-sizing: border-box;
}
.image-container img{
    width:100%;
}
.ex-box{
    margin-bottom: 10px;
    padding:15px;
    border: 2px solid rgb(89, 121, 129);
    border-radius: 5px;
}
.panel {
    margin-bottom: 10px;
    border: 2px solid rgb(255, 255, 255);
    padding: 2%;
    width: 100%;
    float: left;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}
.panel h3{
    color:rgb(45, 127, 171);
}
.panel p{
    color: rgb(89, 121, 129)
}
.panel p a{
    color:rgb(45, 127, 171);
}
.dual-col{
    width:50%;
    float:left;
}

.w3-progress-container{
    width:90%;
    height:0.7em;
    position:relative;
    background-color: #deeef5;
    margin-bottom:30px;
    transition:all ease 0.5s;

}
.w3-progressbar{
    background:rgba(34, 125, 170, 1);
    background: -webkit-linear-gradient(left, rgba(34, 125, 170, 1) 0%, rgba(81, 172, 205, 1) 100%);
    Background:linear-gradient(to right, rgba(34, 125, 170, 1) 0%, rgba(81, 172, 205, 1) 100% );
    height:100%;
    position:absolute;
    line-height: inherit;
}

.progress-title-right{
    float: right;
    font-style: italic;
    font-weight: bold;
}
.social span a{
    color:#fff;
}