.bottom-right{
    left:26px;
    bottom:8px;

}
.bottom-right h2{
    font-size: 20px;
}
.bottom-right p{
    font-size: 20px;
}
.section-content{
    padding:25px 25px;
}
.image-container img{
    width:100%;
}
.title{
    width:100%;
    padding:10px;
    margin-bottom:10px;
}
.content{
    width:100%;
}

.panel{
    width:90%;
    margin-bottom:10px;
}
.dual-col{
    width:100%;
}