/* sass variables */
$primary-color: #fff;
$secondary-color:#000000;
$dark-trasparency-rgba: rgba(52,58,64,0.7);
$white-trasnparency-rgba: rgba(255,255,255,0.7);
$dark-grey-rgba: rgba(39,55,64,0.7);
$silver-rgb:rgb(197,199,201);
$bck-image: url('../img/bckimg.jpg');

*{
  margin:0;
  padding:0;
}
body{
  background-image:$bck-image;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.jumbotron{
  margin-top:5%;
  margin-bottom:5%;
  text-align: center;
  background-color:$white-trasnparency-rgba;
}
.jumbotron h2{
  text-align: center;
  text-decoration: none;
}
.profile-img{
  border:12px solid $primary-color;
  border-radius: 50%;
}
.bg-white{
  width:100%;
  height:100%;
}
.table{
  text-align: center;
}
.bg-blue{
  color: $primary-color;
}
.row{
  padding:25px;
}
.section-content{
  padding:25px;
}
.clearfix{
  padding:10px;
}
h2{
  text-align: left;
  text-decoration:underline;
}
.paragraph{
  text-align: left;
  font-size: 1.07em;
}
.card{
  color:$secondary-color;
  margin-bottom: 10px;
}
.ex-box{
  border: 1px solid $silver-rgb;
  border-radius: .25rem;
  margin-bottom: 10px;
  padding: 1.25rem
}